<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org" 命名空间 -->
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生界面</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="webjars/jquery/jquery.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.js"></script>

    <style>
        .main{
            text-align: center; /*让div内部文字居中*/
            background-color: #fff;
            border-radius: 20px;
            width: 1000px;
            height: 350px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    </style>
</head>
<body>
<div class="contain main" style="text-align: center">
    <div id="text"></div>

    <div style="text-align: center" class="col-lg-6">
        <form id="formStudent" action="javascript:studentUpdate()" method="post" class="form-horizontal" style="margin: 20px">
            <div class="form-group">
                <label class="col-sm-2 control-label">Id</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eId" th:value="${ID}" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eName"  readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Batch</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eBatch"  readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Age</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eAge">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Dob</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eDob" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Blood</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eBlood" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eAddress" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Telephone</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eNumber" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-4 col-lg-10">
                    <input class="form-control" name="eEmail" >
                </div>
            </div>

            <button class="form-control btn-primary" type="submit">Edit</button>
        </form>
    </div>
    <div style="text-align: center;margin-top: 150px" class="col-lg-6" >
        <form id="Apply" action="javascript:Apply()" method="post" class="form-horizontal">
            <input id="Aid" type="hidden" th:value="${ID}" name="ID"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Reason</label>
                <div class="col-sm-4 col-lg-10">
                    <input type="text" name="reason" class="form-control"><br>
                </div>
            </div>
            <button type="submit" class="form-control col-lg-10 btn btn-primary">Apply</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    function studentUpdate(){
        params=$('#formStudent').serialize();
        $.ajax({
            type:"post",
            url:"/api/studentUpdate",
            dataType:"json",
            data:params,
            async: false,
            success:function (data) {
                if (data.code === 0) {
                    alert(data.msg)

                }
                else {
                    alert("学生信息错误")
                }
            }

        });
    }
    function detail(){
        params=$('#Aid').serialize();
        $.ajax({
            type:"post",
            url:"/api/detail",
            dataType:"json",
            data:params,
            async: false,
            success:function (data) {
                if (data.code === 0) {
                    form = $("#formStudent")
                    student = data.data
                    document.querySelector("#formStudent > div:nth-child(2) > div > input").value = student.name;
                    document.querySelector("#formStudent > div:nth-child(3) > div > input").value = student.batch;
                    document.querySelector("#formStudent > div:nth-child(4) > div > input").value = student.age;
                    document.querySelector("#formStudent > div:nth-child(5) > div > input").value = student.dob;
                    document.querySelector("#formStudent > div:nth-child(6) > div > input").value = student.blood_group;
                    document.querySelector("#formStudent > div:nth-child(7) > div > input").value = student.address;
                    document.querySelector("#formStudent > div:nth-child(8) > div > input").value = student.contact_number;
                    document.querySelector("#formStudent > div:nth-child(9) > div > input").value = student.email;
                }
                else {
                    alert("信息错误")
                }
            }

        });
    }
    function Apply() {
        params=$('#Apply').serialize();
        $.ajax({
            type:"post",
            url:"/api/apply",
            dataType:"json",
            data:params,
            async: false,
            success:function (data) {
                if (data.code === 0) {
                    alert(data.msg)
                }
                else {
                    alert("信息错误")
                }
            }

        });
    }
    detail()
</script>
</body>
</html>